terraform/prezdemo/.terraform.lock.hcl
terraform/prezdemo/example-key.pem
terraform/prezdemo/.terraform/providers/registry.terraform.io/hashicorp/aws/5.47.0/windows_amd64/terraform-provider-aws_v5.47.0_x5.exe
terraform/prezdemo/terraform.tfstate.backup
terraform/prezdemo/terraform.tfstate
terraform/prezdemo/terraform.exe
terraform/prezdemo/2/__pycache__/Report.cpython-312.pyc
terraform/prezdemo/2/__pycache__/AWS.cpython-312.pyc
terraform/prezdemo/2/.terraform/providers/registry.terraform.io/hashicorp/aws/5.47.0/windows_amd64/terraform-provider-aws_v5.47.0_x5.exe
terraform/prezdemo/2/terraform.tfstate.backup
terraform/prezdemo/2/terraform.tfstate
terraform/prezdemo/2/terraform.exe
terraform/prezdemo/2/.terraform.lock.hcl
terraform/prezdemo/1/.terraform/providers/registry.terraform.io/hashicorp/aws/5.47.0/windows_amd64/terraform-provider-aws_v5.47.0_x5.exe
terraform/prezdemo/1/terraform.tfstate.backup
terraform/prezdemo/1/terraform.tfstate
terraform/prezdemo/1/terraform.exe
terraform/prezdemo/1/.terraform.lock.hcl
terraform/prezdemo/1/.terraform.tfstate.lock.info
terraform/awsdemo/.terraform.lock.hcl
terraform/awsdemo/example-key.pem
terraform/awsdemo/terraform.exe
terraform/awsdemo/terraform.tfstate
terraform/awsdemo/terraform.tfstate.backup
terraform/awsdemo/.terraform/providers/registry.terraform.io/hashicorp/aws/5.47.0/windows_amd64/terraform-provider-aws_v5.47.0_x5.exe
terraform/awsdemo/1/.terraform.lock.hcl
terraform/awsdemo/1/terraform.exe
terraform/awsdemo/1/terraform.tfstate
terraform/awsdemo/1/terraform.tfstate.backup
terraform/awsdemo/1/.terraform/providers/registry.terraform.io/hashicorp/aws/5.47.0/windows_amd64/terraform-provider-aws_v5.47.0_x5.exe
terraform/awsdemo/2/.terraform.lock.hcl
terraform/awsdemo/2/terraform.tfstate
terraform/awsdemo/2/terraform.tfstate.backup
terraform/awsdemo/2/.terraform/providers/registry.terraform.io/hashicorp/aws/5.47.0/windows_amd64/terraform-provider-aws_v5.47.0_x5.exe
terraform/awsdemo/2/__pycache__/AWS.cpython-312.pyc
terraform/awsdemo/2/__pycache__/Report.cpython-312.pyc
terraform/awsdemo/2/terraform.exe
