<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Security Report</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href= "{{ url_for('static',filename='styles/main.css') }}" rel="stylesheet" type="text/css" id="theme">
</head>
<body>
    <div>
        <br>
        <br>
        <br>
        <h1 style="text-align:center;">Security Report</h1>
        <h2 style="text-align:center;">{{ report_data["Report Date"] }} @ 9:16PM</h2>
        <!--
            TODO: Load time from json
        -->
        <br>

        <div class="container mt-1">
            <div class="d-flex justify-content-center">
                <div class="btn-group w-100" role="group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-danger" for="btnradio1">Active</label>
                  
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-success" for="btnradio2">Resolved</label>
                  
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-secondary" for="btnradio3">Ignored</label>
                </div>
            </div>
            {% for item in report_data["Report Contents"] %}
            <div class="issue-container" data-status="{{ item.Status }}">
                <div class="severity-divider severity-{{ item.Severity }}"></div>
                <div class="container my-2">
                    <div class="row">
                        <div class="col">
                            <pre>
Issue: {{ item.Issue }}
Severity: {{ item.Severity }}
Status: {{ item.Status }}
                            </pre>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-secondary ignore-btn">Ignore</button>
                            <button type="button" class="btn btn-success resolve-btn" onclick="resolveReport('{{ filename }}', '{{ loop.index0 }}')">Resolve</button>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-info view-btn">View</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <br>
        <br>
        <button class="buttonTheme btn btn-outline-dark" onclick="toggleTheme()" style="margin-left:auto; margin-right:auto; display:block;">Toggle theme</button>

    </div>

    <script>
        function toggleTheme() { 
            var link = document.getElementById("theme");
            var currentTheme = localStorage.getItem("theme");
    
            if (currentTheme === "{{ url_for('static',filename='styles/main.css') }}") {
                link.setAttribute("href", "{{ url_for('static',filename='styles/dark.css') }}");
                localStorage.setItem("theme", "{{ url_for('static',filename='styles/dark.css') }}");
                updateButtonClasses("btn-outline-dark", "btn-outline-light");
            } else {
                link.setAttribute("href", "{{ url_for('static',filename='styles/main.css') }}");
                localStorage.setItem("theme", "{{ url_for('static',filename='styles/main.css') }}");
                updateButtonClasses("btn-outline-light", "btn-outline-dark");
            }
        }
    
        // Function to update button classes
        function updateButtonClasses(classToRemove, classToAdd) {
            var buttons = document.getElementsByClassName("buttonTheme");
            for (var i = 0; i < buttons.length; i++) {
                buttons[i].classList.remove(classToRemove);
                buttons[i].classList.add(classToAdd);
            }
        }
    
        // On page load, set the theme based on the stored value
        document.addEventListener("DOMContentLoaded", function(event) {
            var link = document.getElementById("theme");
            var currentTheme = localStorage.getItem("theme");
    
            if (currentTheme) {
                link.setAttribute("href", currentTheme);
                if (currentTheme === "{{ url_for('static',filename='styles/dark.css') }}") {
                    updateButtonClasses("btn-outline-dark", "btn-outline-light");
                } else {
                    updateButtonClasses("btn-outline-light", "btn-outline-dark");
                }
            }
        });

        document.addEventListener("DOMContentLoaded", function() {
            const radioButtons = document.querySelectorAll('.btn-check');
            radioButtons.forEach(function(button) {
                button.addEventListener('click', function() {
                    let status;
                    switch (this.getAttribute('id')) {
                        case 'btnradio1':
                            status = 'Active';
                            break;
                        case 'btnradio2':
                            status = 'Resolved';
                            break;
                        case 'btnradio3':
                            status = 'Ignored';
                            break;
                        default:
                            status = 'All';
                    }
                    const issueContainers = document.querySelectorAll('.issue-container');
                    issueContainers.forEach(function(container) {
                        container.style.display = 'none'; // Hide all issue containers initially
                        if (status === 'All' || container.dataset.status === status) {
                            container.style.display = 'block'; // Display issues with selected status or all issues
                        }
                    });
                });
            });
        });

        function resolveReport(filename, index) {
        // Send a POST request to the Flask server to resolve the report
        fetch(`/resolve_report/${filename}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                index: index
            })
        })
        .then(response => {
            if (response.ok) {
                // If the request is successful, reload the page to reflect the changes
                location.reload();
            } else {
                throw new Error('Failed to resolve report');
            }
        })
        .catch(error => {
            console.error('Error resolving report:', error);
            // Handle error appropriately (e.g., display a message to the user)
        });
    }

    </script>
</body>
</html>
